# Large files
gemma-4-E4B-it-IQ4_XS.gguf


# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual env
venv/
env/
ocr_env/

# Models
*.pt
*.pth

# Large binaries
*.dll
*.lib

# OS
.DS_Store
Thumbs.db

# Ignore virtual environment
venv/
__pycache__/

# Ignore sensitive files
google-credentials.json
*.toml

# Ignore other
.vscode/
*.pyc
*.egg-info/